<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CAP-D Detector</title>
    <link rel="stylesheet" href="../static/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
  </head>
  <body>
        
<div class="login-box">
  <h1>Login</h1>
  <div class="textbox">
    <i class="fas fa-user"></i>
    <form method="POST" id="signIn">
    <input type="text" placeholder="Username" id="adminID" required>
  </div>

  <div class="textbox">
    <i class="fas fa-lock"></i>
    <input type="password" placeholder="Password" id="password" required>
  </div>

  <button type="submit" class="btn" value="Sign in" id="submit">Sign in</button>
</form>
</div>
</div>
<script src="https://www.gstatic.com/firebasejs/8.6.7/firebase.js"></script>
  <script src="../static/upload.js"></script>
  </body>
</html>
