<!DOCTYPE html>
<html>
  <head>
      <style>
          .title,.subtitle{text-align:center;}
      </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>

      
        setTimeout(function(){
            window.location.href = 'index.html';
        }, 3000);

      
    </script>
    <title>Crime Audio Pattern Detector</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <section class="hero is-success is-fullheight">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">  Welcome to CAP-D </h1>
            <h3 class="title" id="username"> 
              
            </h3> 
          <h3 class="subtitle">
            You will be redirected to the Application....
          </h3>
        </div>
      </div>
     
    </section>
  </body>
</html>
